.cover {
  height: 500px;
  background: url('../img/cover.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.cover-filter {
  background-color: rgba(0, 0, 0, .7);
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
}
.visi-misi,
.mitra {
  background-color: rgb(239, 239, 239);
}
.profile {
  background: url('../img/profile.jpg');
  background-size: cover;
  background-position: top;
}
.profile-card {
  color: rgb(255, 255, 255);
}
.profile-card i {
  font-size: 5em;
}
svg {
  filter: grayscale(1);
  opacity: .5;
}
.contact {
  background-color: rgb(167, 167, 167);
}